body {
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.navbar {
  font-size: 18px;
  background-image: linear-gradient(260deg, #161a24 0%, #062952 100%);
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.nav-links,
.logo {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}

.active {
  display: block;
}

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
  }

  .logo {
    margin-top: 0;
  }

  .navbar-toggle {
    display: none;
  }

  .logo:hover,
  .nav-links:hover {
    color: rgba(255, 255, 255, 1);
  }
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.cover {
  width: 100%;
  max-height: 75vh;
}

.destinations-container {
  margin: 5vh 20vw 0 20vw;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  text-align: center;
}

.destinations {
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
}

.caption {
  text-align: center;
  margin: 2vh 4vw 2vh 4vw;
  font-size: 1.25rem;
  display: flex;
  flex-flow: column;
  font-style: italic;
}

/*Extra small devices*/
@media screen and (min-width: 200px) and (max-width: 499px) {
  .destinations-container {
      justify-content: center;
      flex-wrap: wrap;
  }
}

/*Small devices and Tablets*/
@media screen and (min-width: 500px) and (max-width: 767.98px) {
  .destinations-container {
      margin: 5vh 10vw 0 10vw;
  }
}
.footer {
  height: 10vh;
  background: black;
  color: white;
  margin: 5vh 0 0 0;
}

.footer-content {
  text-align: left;
  padding: 3vh 0 0 0;
}

.icon{
  text-align: right;
}


.fa{
  padding: 15px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover{
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}


